  <h3 style = "text-align: center">
    <% if current_user %>
      <%= "Trading Board for #{current_user.first_name} #{current_user.last_name}"  %>
    <% else %>
      Please <%=link_to "Sign In", new_auth_path %> to see your dashboard
    <% end %>
  </h3>

  <div class="team_loader">
    <form>
      <%= label_tag :team, "Choose Teams to See Trade Data" %>
      <%= collection_select(:team, :team_name, Team.order(:name), :name, :name, {}, :class=> "form-control" ) %>
      <p></p>
      <span class="form-control" style="text-align: center">Add Team to Table</span>
      <p></p>
      <span class="form-control see_all_button" style="text-align: center"> See All Teams </span>
    </form>
  </div>

  <div class="bid_loader">
    <form>
      <%= label_tag :team, "Team" %>
      <%= collection_select(:team, :team_name, Team.order(:name), :name, :name, {}, :class=> "form-control bid_team_select" ) %>
      <p></p>
      <%= label_tag :bid_shares, "Number of Shares" %>
      <%= number_field_tag :bid_shares, value = nil, :class=>"form-control bid_share_field", :placeholder=>"Number of Shares"  %>
      <p></p>
      <%= label_tag :new_bid_points, "Bid Points" %>
      <%= number_field_tag :new_bid_points, value = nil, :class=>"form-control bid_field", :placeholder=>"Points per Share"  %>
      <p></p>
      <span class="form-control bid_button" style="text-align: center">Create New Bid</span>
      <p></p>
      <span class="form-control see_all_button" style="text-align: center"> See All Teams </span>
    </form>
  </div>

  <div class="ask_loader">
    <form>
      <%= label_tag :team, "Team" %>
      <%= collection_select(:team, :team_name, @user_teams, :name, :name, {}, :class=> "form-control ask_team_select" ) %>
      <p></p>
      <%= label_tag :ask_shares, "Number of Shares" %>
      <%= number_field_tag :ask_shares, value = nil, :class=>"form-control ask_share_field", :placeholder=>"Number of Shares"  %>
      <p></p>
      <%= label_tag :new_ask_points, "Ask Points" %>
      <%= number_field_tag :new_ask_points, value = nil, :class=>"form-control ask_field", :placeholder=>"Points per Share"  %>
      <p></p>
      <span class="form-control" style="text-align: center">Create New Ask</span>
      <p></p>
      <span class="form-control see_all_button" style="text-align: center"> See All </span>
    </form>
  </div>

  <table class = "table">
    <thead>
      <tr>
        <th class= "col-md-1 bid_loader_onclick">Your Bid</th>
        <th class= "col-md-1"><div>Buy Points </div><div>Bid</div></th>
        <th class= "col-md-8 team_loader_onclick"> Seed | Team<p></p></th>
        <th class= "col-md-1"><div class = "pull-right">Sell Points </div><div>Ask</div></th>
        <th class= "col-md-1 ask_loader_onclick">Your Ask</th>
      </tr>
    </thead>
    <tbody>
      <% @bid_ask.each_pair do |team_id, team_data| %>
        <tr class = "dashboard_tr">
          <td class= "bid_data"><%= "#{team_data[:user_bids].join(" , ")}" %></td>
          <td><%= number_with_precision(team_data[:bid_points], precision: 2) %></td>
          <td>
            <span><%= "#{team_data[:seed]} | " %></span>
            <span class="team_data"><%= "#{team_data[:name]}" %></span>
          </td>
          <td><%= number_with_precision(team_data[:ask_points], precision: 2) %></td>
         <td class= "ask_data"><%= "#{team_data[:user_asks].join(" , ")}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="outter_bid_rolodex">
      <button type="button" class="glyphicon glyphicon-arrow-up" aria-hidden="true" ></button>
      <p></p>
    <div class="bid_rolodex">
      <% @user_shares.each do |share| %>
        <% share.bids.each do |bid| %>
          <div class="bid_rolodex_div">
            <%= "#{bid.shares} | #{share.team.name} | $#{bid.points} " %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="outter_ask_rolodex">
      <button type="button" class="glyphicon glyphicon-arrow-up" aria-hidden="true" ></button>
      <p></p>
    <div class="ask_rolodex">
      <% @user_shares.each do |share| %>
        <% share.asks.each do |ask| %>
          <div class="ask_rolodex_div">
            <%= "#{ask.shares} | #{share.team.name} | $#{ask.points} " %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- <div class="scores">
    <% if current_user %>
      <div class="bid_create">
      </div>

      <div class="">
        Executed Trades
        <% @user_trades.each do |trade| %>
        <%= "#{trade.bid.user_share.team.name} #{trade.points}" %>
        <% end %>
      </div>

      <div class="">
        Total Points
        <%= @total_points %>
        Current Points
        <%= @current_points %>
      </div>
      <% else %>
        <div class="">
          Please Sign In
        </div>
      <% end %>
  </div> -->

  <div class="stock_ticker">
    <% @team_points_hash.each_pair do |team, team_trade_data| %>
      <div class="stocks_droppping">
          <span>
            <%= "#{team}" %>
          </span>
          <span>
            <%= "#{team_trade_data[0]}" %>
          </span>
      </div>
    <% end %>
  </div>
