<%= form_tag url_for(:controller => 'auth', :action => 'create'), :method => 'post' do %><div class="">

</div>
  <fieldset>
    <legend>Sign In:</legend>
    <%= label_tag :username, "Username" %>
    <%= text_field_tag :username %>
    <%= label_tag :password, "Password" %>
    <%= password_field_tag :password %>
    <div style = "float: right">
    <%= button_tag "Sign In", :class=> "btn btn-primary sign_in" %>
    </div>
  </fieldset>
<% end %>
