<%= flash[:notice] %>

<h1>New Users Page</h1>

<%= form_for @user do |f| %>
  <%= f.label :first_name, "First Name" %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name, "Last Name" %>
  <%= f.text_field :last_name %>
  <%= f.label :username, "User Name" %>
  <%= f.text_field :username %>
  <%= f.label :years_in_game, "Years you have Played this game" %>
  <%= f.number_field :years_in_game %>
  <%= f.label :email, "Email Address" %>
  <%= f.text_field :email %>
  <%= f.label :password, "Password" %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation, "Password Confirmation" %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "Create A New User" %>
<% end %>
